<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Dictionary - by python3.x_dev</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
	<body>
		<div class="center_ver_hor_form">
			<form action="{{ url_for('search') }}" method="post" class="form__element">
				<div class="form__group field">
					<input type="text" class="form__field" id="word" placeholder="Search a word..." name="word" required>
					<label for="name" class="form__label">Search a word...</label>
				</div>

				<div class="wrapper">
					<div class="link_wrapper">
						<input class="submit" type="submit" value="Search">
						<div class="icon">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
								<path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
							</svg>
						</div>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>